body{
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
li{
    margin: 5px;
}
.sony-logo-div
{
    box-sizing: border-box;
    width: 100%;
    background-color: black;
    height: 36px;
    text-align: right;
}
.sony-logo-img
{
    height: 36px;
}
.playstation-logo-img
{
    align-content: center;
    height: 36px;
}
.nav-knoppen
{
    display: flex;
    align-items: center;
    height: 72px;
}
.nav-knoppen-links
{
    display: flex;
    width: 50%;
    flex-direction: row;
}
.nav-knoppen-rechts
{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}