body {
    background-color: #d9ddd7;
    font-family: Verdana, Arial;
}
h1 {
    color: #427d49;
}
p {
    background-color:  #6a7689;
    color: white;
    padding: 20px;
}
.highlight
{
    color: yellow;
    border: 2px solid yellow;
    margin-left: 20%;
    margin-right: 20%;
    alignment: center;
}
a {
    color: white;
}
a:hover{
    color: #6df469;
}