form
{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 600px)
{
    form
    {
        width: 100%;
    }
    input{
        width: 30%;
    }
    label{
        width: 15%;
    }
    .bus{
        width: 10%;
    }
    .input{
        width: 8%;
    }


}
@media screen and (min-width: 601px)
{

}