div{
    display: flex;
    align-content: flex-start;
    margin: 10px;
}
p, h1, h2{
    margin: 15px;
}
.audia7{
    width: 30%;
}
.Headline{
    background-color: black;
    width: 68%x;
    color: white;
    display: inline-block;
}
.Menu{
    background-color: black;
    color: white;
    width: 20%;
    display: inline-block;
}
.TEXT{
    background-color: lightgray;
    display: inline-block;
}
.inline-block{
    display: inline-block;
}